* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #070e0f 0%, #813b40  50%, #c91313 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}


.nav-button {
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(161, 20, 20, 0.815);
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3 ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    min-width: 180px;
    text-align: center;
}

.profile-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-image {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.9s ease;
    
}

h2 {
    color: #dfe4d2;
    text-align: center;
    padding: 30px 70px;
    
}

h1 {
    
     background-color: rgba(0, 0, 0, 0.85);
    color: rgba(161, 20, 20, 0.815);
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3 ease;
    box-shadow: 0 4px 15px rgba(250, 2, 2, 0.8);
    min-width: 180px;
    text-align: center;
}

h3 {
    color: #dfe4d2;
    text-align: center;
    font-size: 50px;
    padding: 40px 70px;
}


.kontakty {
    text-align: center;
    padding: 100px 70px;
    font-size: 25px;
}


h4 {
    color: #dfe4d2;
    font-size: 50px;
    text-align: center;
}